<a class="menu-toggler" id="menu-toggler" href="#">
    <span class="menu-text"></span>
</a>
<div class="sidebar" id="sidebar">
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>
    </div>
    </div><!--#sidebar-shortcuts-->
    <ul class="nav nav-list">
        <li class="home">
            <a href="#home">
                <i class="icon-th"></i>
                <span class="menu-text"> Applications </span>
            </a>
        </li>

        <li class="usb">
            <a href="#usb">
                <i class="icon-list-alt"></i>
                <span class="menu-text"> USB Files </span>
            </a>
        </li>

        <li class="about">
            <a href="#about">
                <i class="icon-info-sign"></i>
                <span class="menu-text"> About </span>
            </a>
        </li>
    </ul>
    <!--/.nav-list-->
</div>